{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="collect-section">
  <h2><i class="fas fa-tachometer-alt"></i> Rendement</h2>
  <hr class="collect-divider">

  <div class="collect-buttons">
    <button type="button" data-url="{% url 'accueil' %}">
      <i class="fas fa-tachometer-alt"></i> Contrôle de rendement
    </button>
    <button>
      <i class="fas fa-chart-bar"></i> Comparaison des rendements
    </button>
  </div>
</div>
<style>
  .collect-section h2 {
  display: inline-flex;
  align-items: center;
  font-size: 2rem !important;
  color: #1A5276;
  gap: 0.5rem;
  font-family: 'Italiana', serif;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.collect-section h2 i {
  font-size: 3rem !important;
  color: #2E86DE;
}
</style>
<script src="{% static 'js/collecte.js' %}"></script>
{% endblock %}
